.jumbotron{ 
    background: url('./clouds.jpg');
    background-size: cover ;
}
.header{
    font-family: 'Piedra', cursive;
    font-size: 50pt;
    color: #66BB6A;
}
.main{ 
    /* grid-template-columns: 50% 50%;  */
    background-color:rgba(0, 0, 0, 0.5);
    color:white;
    border-radius: 5px;
}
.info{ 
    padding: 0.5%;
    text-align: center;
}
.side{ 
    text-align: center;
    padding: 0.5%;
}
body{
    font-family: 'Dosis', sans-serif;
    
}
#location{
    border-bottom:1px solid yellow;
} 
.labelInfo{
    border-bottom:1px solid yellow;
}